.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
}

.App-logo {
  width: 250px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

img[alt=Registeration-Pic] {
  width: 250px;
  margin-left: 10px;
  margin-top: 70px;
}

img[alt=Login-Pic] {
  width: 250px;
  margin: 0px 30px;
  margin-top: 30px;
}

.right {
  float: left;
}

.form-group {
  border-bottom: 1px solid #c4cad7;
  padding-top: 10px;
}

input[type=text] {
  width: 250px;
  padding-bottom: 5px;
  margin: 4px 0;
  border-style: none;
}

input[type=text]:focus {
  outline: none;

}

.submit-div {
  text-align: left;
  padding: 28px;
}

.form-title {
  text-align: center;
  margin-top: 5px;
}

label {
  padding-right: 20px;
}

.signup-image-link {
  text-decoration: none;
  color: #282c34;
}

.login-form {
  padding-top: 40px;
}

.box {
  width: 390px;
  border: 1px solid rgb(246, 246, 246);
  background-color: rgb(246, 246, 246);
}

#contact_form input[type=text] {
  width: 287px;
  margin: 0px 10px 10px 10px;
  border: 1px solid gainsboro;
  background-color: rgb(246, 246, 246);
}

img[alt=profile] {
  width: 180px;
}

textarea {
  border-color: #c4cad7;
  background-color: rgb(246, 246, 246);
}

textarea:focus{
  outline: none;
}